{% extends "home/base.html" %}

{% block 'article' %}

<div class="white-container">
      <div class="toolbox">
        {% if article.owner.user.username == the_user.username %}
        <a href="{% url 'article_delete' article.pk %}"><button class="pull-right edit-button glyphicon glyphicon-remove" id="delete-button"></button></a>
        <a href="{% url 'article_edit' article.pk %}"><button class="pull-right edit-button glyphicon glyphicon-pencil"></button></a>
        {% endif %}
        
      </div>
      <h1 id="fullview-heading">{{article.display_safe_title}} <span>by {{article.owner.firstname}} {{article.owner.firstname}} </span></h1>
      
      <hr/>


      <div id="fullview-paragraph">{{article.display_safe_body}}
      {% if not article.image = "" %}
        <img style="clear:both;" class="fullview-image pull-right" src="{{article.image}}"/>
      {% endif %}
        <p>Written on {{article.created_at}}, Last modified: {{article.updated_at}}</p>

      </div>

    </div>




{% endblock %}